/* Général */

body, html {
  overflow-x: hidden;
}

/* change bootstrap classes for responsive */

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #fff !important;
}

.navbar-toggle {
  background-color: rgba(0, 0, 0, 0);
}

.navbar-inverse .navbar-toggle {
  background-color: rgba(0, 0, 0, 0);
}

.container {
  padding: 0;
}

/* carousel on index */

.carousel-page
{
width:100%;
height:600px;
color:white;
}

header .carousel {
  height: 100%;
}

header .carousel .carousel-inner {
  background-color: rgba(0, 0, 0, 0);
}

header .carousel ul  {
  padding: 0;
      display: none;
}

header .carousel ul li {
  list-style: none;
  display: inline-block;
}

header .carousel ul li p {
  color: #ffffff;
  margin-top: 15px;
}

header .carousel ul li i {
  border: 1px solid #ffffff;
  border-radius: 50px;
  height: 70px;
  width: 70px;
  text-align: center;
  padding-top: 25%;
}

.slide_two_left {
  text-align: center;
}

.slide_two_right button {
  float: left;
}
.slide_two_right p {
  color: #ffffff;
  font-size: 10px;
  float: left;
}

.inter_left {
  float: left;
  margin-left: 50px;
  color: #fff;
}

.inter_right {
  float: right;
  margin-right: 50px;
  color: #fff;
}

.slide_three .form-info {
	margin-bottom: 15px;
}

/* first section : main info */

#main-info {
  background-color: #ebeff3;
  position: relative;
}
#main-info .rnd {
  padding-top: 1%;
  text-align: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #ebeff3;
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
}

#press {
  background: #ffffff url('../img/dot-pattern.svg') repeat
}

#pricing {position: relative; background-color: #fff;}
#pricing .vid {
  position: absolute;
  z-index: 999;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 40%;
}

.each {
  text-align: center;
}
.each h5 {
  color: #4f86c6;
  text-transform: uppercase;
}
#invite {position: relative;}
#invite .rnd {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #f6f9fa;
  color: #a9b6c1;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 1%;
}

/* footer */

.footer {
  height: 20%;
  min-height: 20%; }
  .footer ul {
    padding: 0; }
    .footer ul li {
      list-style-type: none; }
  .footer .social {
    float: right; }
    .footer .social .btn-social {
      color: #ffffff;
      border-radius: 5px 5px; }
    .footer .social .tel {
      background-color: #a4d65e; }
    .footer .social .tw {
      background-color: #69b6f2; }
    .footer .social .fb {
      background-color: #3a579a; }
    .footer .social p {
      margin-top: 10px; }

/* page residence */

.residence {
  background-color: #e5eef0;
  padding-bottom: 30px;
  position: relative;
  height: 100%;
}

.residence .arrow-black {
  position: absolute;
  bottom: -5%;
  right: 0;
}

.residence .res {
  background-color: #ffffff;
  width: 90%;
  display: block;
  margin: 0 auto;
}

.residence .res_blue {
  width: 90%;
  height:150px;
  display: block;
  margin: 0 auto;
}

.residence .progress-hr-outer {
  width: 40%;
  height: 1px;
  background-color: #e6edee;
}

.residence .progress-hr-inner {
  width: 20%;
  height: 1px;
  background-color: #f7941d;
}

.residence .banner-residence {
  width: 100%;
  max-width: 100%;
  margin-bottom: 30px;
}

.city_name {
  color: #f7941d;
}

.right {
  padding-top: 30px;
  text-align: center;
}

.map {
  display: block;
  margin: 0 auto;
}

.res-header {
  height: 300px;
}

.res-header h1 {
  margin-top: -7px;
}

#residence-back {
  background-color: #fafbfb;
}

#nego {
  background-color: #fafbfb;
}

.one-nego {
  background-color: #ffffff;
  border: 3px solid #f4f6f8;
  padding: 5px;
  margin-top: 15px;
}

.one-nego ul {
  padding: 0;
}

.one-nego ul li {
  list-style: none;
  display: block;
  height: 33%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.one-nego img {
  display: block;
  margin: 0 auto;
}

.one-nego-price-left {
  float: left;
  color: #f7941d;
  font-weight: bold;
}

.one-nego-price-right {
  float: right;
  color: #f7941d;
  font-weight: bold;
}

.modal-header img {
  width: 40%;
  display: block;
  margin: 0 auto;
}

.modal-content {
  background-color:#4f86c6;
  border-radius: 0;
}

.choose {
  background-color: #fff;
  text-align: center;
}

button.close {
  position: absolute;
  right: -15px;
  top: -12px !important;
  top: 0;
  color: #fff;
  height: 30px;
  width: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding-bottom: 5px;
}

.close {
  opacity: 1;
}

.form-modal input[type=email] {
  height: 40px;
  width: 300px;
  background-color: rgba(255, 0, 0, 0);
  border: 1px solid #fff;
  font-family: 'Raleway', sans-serif;
}

.form-modal input[type=email]::-webkit-input-placeholder {
  color: #fff;
}

.form-modal p {
  font-size: 16px;
  text-align: center;
}

.form-modal .form-inline {
  text-align: center;
}

.modal-step-2 p {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 20px;
}

.modal-dialog {
  height: 300px;
  width: 900px;
}

/* ==========================================================================
   Global styles
   ========================================================================== */
h1, h2, h3, h4, h5, h6, p, .btn, .navbar-nav a, .form-control, .list-inline, small, #pricing {
  font-family: 'Montserrat', sans-serif;
}

.form-group {
  position: relative;
}

.form-group .arrow-header {
  width: 15%;
  position: absolute;
  right: -50%;
  top: 0;
  transform: translate(-20%, -70%);
}

form input[type=text], form input[type=email] {
  height: 36px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: 1px solid #fff;
}

form input[type=text]::-webkit-input-placeholder, form input[type=email]::-webkit-input-placeholder {
  color: #fff;
}

p, .lead {
	font-family: 'Raleway', sans-serif;
}
span, .lead {
  font-family: 'Raleway', sans-serif;
}

.purple_title {
  color: #4f86c6;
  text-transform: uppercase;
}
.gray_subtitle {
  color: #a9b6c1;
  font-size: 18px;
}

h1 {
  font-size: 35px;
  line-height: 55px;
  letter-spacing: -1px;
  color: #ffffff;
  font-weight: 400;
}

hr {
  border: none;
  height: 1px;
  width: 40%;
  background-color: #fff;
}

h2 {
  font-size: 25px;
  line-height: 40px;
  etter-spacing: -0.5px;
  color: #ffffff;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #231f20;
  font-weight: 700;
}

.lead {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
}

p {
  font-size: 17px;
  line-height: 22px;
  color: #929496;
  font-weight: 400;
}

/*------------------Utilities---------------------*/
a {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
  color: #231f20;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -10%;
}

::selection {
	background: #231f20; /* Safari */
	color: #FFFFFF;
}
::-moz-selection {
	background: #231f20; /* Firefox */
	color: #FFFFFF;
}


/*------------------Buttons---------------------*/
.btn:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline: none;
}

.btn {
  border-radius: 4px;
  border: none;
}

.btn-lg {
  font-size: 13px;
  line-height: 1.33;
  padding: 22px 30px;
  font-weight: 400;
  letter-spacing: 1px;
}

.btn-sm {
  font-size: 11px;
  line-height: 1.33;
  padding: 10px 18px;
  font-weight: 400;
}

.btn-wide {
  width: 100%;
  font-size: 13px;
  line-height: 1.33;
  padding: 18px 28px;
  font-weight: 400;
  letter-spacing: 1px;
}

.btn-primary {
  background-color:#fb6816;
  color: #ffffff;
  border-bottom: 4px solid #ab3c05;
  margin-top:10px;
}


.btn-secondary {
  background-color: #ffffff;
  color: #231f20;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active {
  background-color: #ededed;
  color: #231f20;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}




/*-----------------Margins------------------*/
.margin-0 {
    margin-bottom: 0 !important;
}
.margin-10 {
    margin-bottom: 10px !important;
}
.margin-15 {
    margin-bottom: 15px !important;
}
.margin-20 {
    margin-bottom: 20px !important;
}
.margin-30 {
    margin-bottom: 30px !important;
}
.margin-40 {
    margin-bottom: 40px !important;
}
.margin-50 {
    margin-bottom: 50px !important;
}
.margin-60 {
    margin-bottom: 60px !important;
}
.margin-70 {
    margin-bottom: 70px !important;
}
.margin-80 {
    margin-bottom: 80px !important;
}
.margin-90 {
    margin-bottom: 90px !important;
}
.margin-100 {
    margin-bottom: 100px !important;
}


/*-----------------Colors------------------*/

.black {
  color: #231f20;
}

.blue {
  color: #70cbce;
}

.white {
  color: #ffffff;
}

.black-bg {
  background: #231f20;
}

.blue-bg {
  background: #70cbce;
}

.white-bg {
  background: #ffffff;
}

.purple-bg {
	background: #6d3f96;
}



/* ==========================================================================
   Nav Styles
   ========================================================================== */

.navbar {
    border: 0px solid rgba(0, 0, 0, 0);
    background: #4f86c6;
    margin: auto;
    min-height: 60px;
    padding-top: 8px;
    position: fixed;
    top: -60px;
    transition: top 0.4s ease 0s;
}

.navbar.open {
    top: 0;
}

.navbar-inverse .navbar-nav > li > a, .navbar-nav a {
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #ffffff;
    opacity: 0.6;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px;
}


.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.logo img {
	margin-top: 6px;
	}



/* ==========================================================================
   Main styles
   ========================================================================== */
header {
  background: url(../img/banner.jpg) no-repeat center center;
  width: 100%;
  padding: 20px 10px 60px 10px;
  height: 95vh;
  overflow: hidden;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.header-info {
  /*position: absolute;
  bottom: 0;*/
  width: 100%;
  left: 0;
  right: 0;
  margin-left: 0px;
  margin-bottom: 12%;
  margin-top: 5%;
}

.header-info-marg-plus {
  width: 100%;
  left: 0;
  right: 0;
  margin-left: 0px;
  margin-bottom: 12%;
  margin-top: 4%;
}

li.active, li.active p {
	color: #fb6816 !important;
}

li.active i {
	border: 1px solid #fb6816 !important;
}

.signin {
  padding-top: 9px;
}


.mouse-icon {
    border: 2px solid #fff;
    border-radius: 16px;
    display: block;
    height: 50px;
    margin: -100px auto 50px;
    position: relative;
    width: 30px;
    z-index: 10;
}
.mouse-icon .scroll {
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: scrolling;
    animation-play-state: running;
    animation-timing-function: linear;
}
.mouse-icon .scroll {
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 4px;
    width: 4px;
}
@keyframes scrolling {
0% {
    opacity: 0;
    top: 5px;
}
30% {
    opacity: 1;
    top: 10px;
}
100% {
    opacity: 0;
    top: 25px;
}
}

.pad-xl {
	padding: 200px 0px;
}

.pad-lg {
	padding: 20px 0px;
}

.pad-sm {
	padding: 80px 0px;
}

.pad-xs {
	padding: 30px 0px;
}




hr.line {
	width: 100%;
	border: 2px solid;
}

.purple {
	border-color: #6d3f96;
	color: #6d3f96;
}

.iphone {
    position: relative;
    height: 200px;
}

.iphone img {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 440px;
}


#invite {
  background: #f6f9fa;
}

.news-container {
  padding: 10px 0px 20px;
  border-bottom: 1px dotted #d9d9d9;
}

.news-img {
  padding-right: 20px;
}

footer {
  background: #ffffff;
  padding: 40px 0px;
}

.social li a:hover {
  opacity: 0.5;
}



/*---------------Pricing Tables-------------------*/


#pricing {
  background: #fff;
}

.pricing-container {
  padding-left: 0px;
  padding-right: 0px;
}



.price {
    background: none repeat scroll 0 0 #231f20;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
}




.price small {
  font-weight: 300;
  color: #929496;
}

.info {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 13px;
  color: #929496;
  background: #ffffff;
}

.features {
  color: #231f20;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #E8EAEA;
  background: #ffffff
}

.features.first {
  border-top: 1px dotted #E8EAEA;
}

.features.last {
  padding-top: 17px;
  padding-bottom: 20px;
}

.pricing-container .btn {
    border-radius: 0;
}


/* ==========================================================================
   Form styles
   ========================================================================== */
.form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #929496;
    display: block;
    font-size: 15px;
    height: 60px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form-control::-moz-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}

.form-control::-webkit-placeholder, .form-control::-o-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}

.form-control::-o-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}




/* ==========================================================================
   Mobile styles
   ========================================================================== */
/* Landscape phones and down */
@media (max-width: 480px) {

  #main-info .rnd {
    padding-top: 2%;
  }
form input[type=text], form input[type=email] {
  height : 26px;
  margin-top:-5px;
  }


  header .carousel ul li .fa-clipboard {
    border: 1px solid #ffffff;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 11% !important;
  }

h1 {
  font-size: 14px;
  line-height:16px;
}

.vid {
  width: 100% !important;
}

.logo {
  width: 40%;
}

.grid figure img {
  display: inline;
}

.grid figure {
    height: 460px;
  }

.btn-lg {
  font-size: 12.5px;
  line-height: 1.33;
  padding: 16px 13px;
  letter-spacing: 0px;
}


.btn-wide {
  width: 100%;
  font-size: 12.5px;
  line-height: 1.33;
  padding: 16px 13px;
  letter-spacing: 0px;
}

#be-the-first {
      background-attachment: scroll;
  }
  .one-nego {
    text-align: center;
  }

  .one-nego h4 {
    text-align: center;
  }

  .one-nego-price-left {
    float: none;
    color: #f7941d;
    font-weight: bold;
    margin-right: 10px;
  }

  .one-nego-price-right {
    float: none;
    color: #f7941d;
    font-weight: bold;
    margin-left: 10px;
  }

  .one-nego .btn-primary {
    width: 100%;
  }

  .one-nego > div {
    height: 100px !important;
  }

  .res-header h1 {
    margin-top: -20px;
  }

  .residence {
    /*height: 1650px;*/
  }

  header .carousel ul li i {
    border: 1px solid #ffffff;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 18%;
    font-size: 10px;
  }

  .slide_three label {
    text-align: center;
    width: 100%;
  }

  header .carousel ul li img {
    display: none;
  }

  .slide_two_right {
    text-align: center;
  }

  .slide_two_right button {
    float: none;
    margin-top: 10px;
  }
  .slide_two_right p {
	  display:none;
    color: #ffffff;
    font-size: 10px;
    float: none;
  }

  .inter_left {
   */ margin-left: 100px;*/
  }

  .inter_right {
   */margin-right: 100px;*/
  }

  .header-info {
    margin-bottom: 8%;
  }

  .header-info .lead {
    font-size: 14px;
	margin-bottom:-2px;
  }

  .header-info-marg-plus .lead {
    font-size: 13px;
	margin-bottom:-2px;
  }

  #residence-back h2 {
    padding: 20px;
  }

  #nego h2, #nego .gray_subtitle {
    padding: 20px;
  }

  .map {
    width: 100%;
  }

  .logo img {
    width: 40% !important;
    margin-left: 30px;
  }

  .modal-dialog {
    height: 300px;
    width: 95%;
  }
}


/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {

  .slide_three label {
    text-align: center;
    width: 100%;
  }

  #main-info .rnd {
    padding-top: 2%;
  }

#be-the-first {
      background-attachment: scroll;
  }

  .grid figure img {
  display: inline;
}
.grid figure {
    height: 450px;
  }

  .one-nego {
    text-align: center;
  }

  .one-nego h4 {
    text-align: center;
  }

  .one-nego-price-left {
    float: none;
    color: #f7941d;
    font-weight: bold;
    margin-right: 10px;
  }

  .one-nego-price-right {
    float: none;
    color: #f7941d;
    font-weight: bold;
    margin-left: 10px;
  }

  .one-nego .btn-primary {
    width: 100%;
  }

  .one-nego > div {
    height: 100px !important;
  }

  .res-header h1 {
    margin-top: -70px;
  }

  .residence {
    height: 1800px;
  }


  header .carousel ul li i {
    border: 1px solid #ffffff;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 15%;
    font-size: 15px;
  }

  header .carousel ul li .fa-clipboard {
    padding-top: 10% !important;
  }

  .slide_two_right {
    text-align: center;
  }

  .slide_two_right button {
    float: none;
    margin-top: 10px;
  }
  .slide_two_right p {
    color: #ffffff;
    font-size: 10px;
    float: none;


  }

  .inter_left {
    margin-left: 100px;
  }

  .inter_right {
    margin-right: 100px;
  }

  .header-info {
    margin-bottom: 9%;
  }

  header .carousel ul li img {
    display: none;
  }

  header .carousel ul li {
    margin-left: 10px;
    margin-right: 10px;
  }

  #residence-back h2 {
    padding: 20px;
  }

  #nego h2, #nego .gray_subtitle {
    padding: 20px;
  }

  .modal-dialog {
    height: 300px;
    width: 95%;
  }


}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {

  .sm-marg {
    margin-top: 25px !important;
  }

  .slide_three label {
    text-align: center;
    width: 100%;
  }

  .slide_three input {
    width: 100% !important;
  }


  header .carousel ul li .fa-clipboard {
    border: 1px solid #ffffff;
    border-radius: 50px;
    height: 70px;
    width: 70px;
    text-align: center;
    padding-top: 20%;
  }

  #main-info .rnd {
    padding-top: 2%;
  }

#be-the-first {
      background-attachment: scroll;
  }

  .grid figure img {
    display: inline;
  }
  .grid figure {
    height: 450px;
  }

  .one-nego {
    text-align: center;
  }

  .one-nego h4 {
    text-align: center;
  }

  .one-nego-price-left {
    float: none;
    color: #f7941d;
    font-weight: bold;
    margin-right: 10px;
  }

  .one-nego-price-right {
    float: none;
    color: #f7941d;
    font-weight: bold;
    margin-left: 10px;
  }

  .one-nego .btn-primary {
    width: 100%;
  }

  .one-nego > div {
    height: 100px !important;
  }

  .res-header h1 {
    margin-top: -80px;
  }

  .residence {
    height: 1700px;
  }

  .slide_two_right {
    text-align: center;
  }

  .slide_two_right button {
    float: none;
    margin-top: 10px;
  }
  .slide_two_right p {
    color: #ffffff;
    font-size: 10px;
    float: none;
  }

  .inter_left {
    margin-left: 100px;
  }

  .inter_right {
    margin-right: 100px;
  }

  .header-info {
    margin-bottom: 9%;
  }

  .modal-dialog {
    height: 300px;
    width: 700px;
  }
}


input.error {
	border: 1px solid red !important;
}


/* Desktops and laptops ----------- */
@media (min-width: 992px) and (max-width: 1199px) {

}



/* Large screens ----------- */
@media (min-width: 1200px) and (max-width: 3000px) {

}
